
<%= form_with model: hotel do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% hotel.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :adress %><br>
    <%= form.text_area :adress %><br>
    <% hotel.errors.full_messages_for(:adress).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :rooms %><br>
    <%= form.text_area :rooms %><br>
    <% hotel.errors.full_messages_for(:rooms).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :stars %><br>
    <%= form.text_area :stars %><br>
    <% hotel.errors.full_messages_for(:stars).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :status %><br>
    <%= form.text_area :status %><br>
    <% hotel.errors.full_messages_for(:status).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>